body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:800px;
}
#u12428 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:52px;
  width:375px;
  height:800px;
}
#u12429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:142px;
}
#u12430 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:721px;
  width:233px;
  height:141px;
  font-size:14px;
  text-align:left;
  line-height:20px;
}
#u12431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:229px;
  word-wrap:break-word;
}
