body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1489px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:65px;
  background:inherit;
  background-color:rgba(57, 58, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12563 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:52px;
  width:500px;
  height:65px;
}
#u12564 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:31px;
  background:inherit;
  background-color:rgba(48, 49, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12565 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:21px;
  width:500px;
  height:31px;
}
#u12566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12567 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:73px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u12568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:841px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12569 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:115px;
  width:500px;
  height:841px;
}
#u12570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:412px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12571 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:115px;
  width:500px;
  height:52px;
}
#u12572 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:496px;
  word-wrap:break-word;
}
#u12573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12573 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:166px;
  width:500px;
  height:52px;
}
#u12574 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:496px;
  word-wrap:break-word;
}
#u12575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12575 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:217px;
  width:500px;
  height:52px;
}
#u12576 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:496px;
  word-wrap:break-word;
}
#u12577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:65px;
  background:inherit;
  background-color:rgba(57, 58, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12577 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:52px;
  width:500px;
  height:65px;
}
#u12578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:31px;
  background:inherit;
  background-color:rgba(48, 49, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12579 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:21px;
  width:500px;
  height:31px;
}
#u12580 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12581 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:73px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u12582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:841px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12583 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:115px;
  width:500px;
  height:841px;
}
#u12584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:412px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12585 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:518px;
  width:94px;
  height:16px;
}
#u12586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u12587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12587 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:557px;
  width:94px;
  height:16px;
}
#u12588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u12589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12589 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:596px;
  width:94px;
  height:16px;
}
#u12590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u12591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12591 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:635px;
  width:94px;
  height:16px;
}
#u12592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u12593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12593 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:481px;
  width:67px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u12595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12595 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:518px;
  width:191px;
  height:16px;
}
#u12596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u12597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12597 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:557px;
  width:191px;
  height:16px;
}
#u12598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u12599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12599 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:596px;
  width:191px;
  height:16px;
}
#u12600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u12601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12601 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:635px;
  width:191px;
  height:16px;
}
#u12602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u12603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:2px;
}
#u12603 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:438px;
  width:455px;
  height:1px;
}
#u12604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u12605 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:134px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u12606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u12607 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:212px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u12608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u12609 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:251px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u12610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u12611 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:387px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u12612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12613 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:134px;
  width:218px;
  height:16px;
  font-size:13px;
}
#u12614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u12615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12615 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:212px;
  width:134px;
  height:16px;
  font-size:13px;
}
#u12616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u12617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12617 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:251px;
  width:71px;
  height:16px;
}
#u12618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12619 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:387px;
  width:71px;
  height:16px;
}
#u12620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u12621 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:174px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u12622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12623 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:174px;
  width:134px;
  height:16px;
  font-size:13px;
}
#u12624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u12625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12625 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:300px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:66px;
}
#u12627 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:298px;
  width:67px;
  height:66px;
}
#u12628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u12629 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:298px;
  width:66px;
  height:66px;
}
#u12630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
}
#u12631 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:548px;
  width:375px;
  height:750px;
}
#u12632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:367px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12633 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:981px;
  width:312px;
  height:69px;
}
#u12634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12635 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:1002px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12637 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:995px;
  width:85px;
  height:16px;
}
#u12638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12639 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:1021px;
  width:119px;
  height:16px;
}
#u12640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u12641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:69px;
  background:inherit;
  background-color:rgba(9, 187, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 187, 7, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12641 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:981px;
  width:35px;
  height:69px;
}
#u12642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:31px;
}
#u12643 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:999px;
  width:26px;
  height:31px;
}
#u12644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u12645 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:548px;
  width:375px;
  height:667px;
}
#u12646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12647 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:1034px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u12648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12649 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:1034px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u12650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12651 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:1060px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u12652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12653 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:778px;
  width:169px;
  height:16px;
  color:#FF0000;
}
#u12654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u12655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12655 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1130px;
  width:85px;
  height:16px;
  color:#FF0000;
}
#u12656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12657 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:1130px;
  width:127px;
  height:16px;
  color:#FF0000;
}
#u12658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u12659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
}
#u12659 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:606px;
  width:375px;
  height:750px;
}
#u12660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:367px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12661 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:414px;
  width:300px;
  height:159px;
}
#u12662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12663 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:528px;
  width:263px;
  height:34px;
}
#u12664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:259px;
  word-wrap:break-word;
}
#u12665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12665 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:424px;
  width:276px;
  height:96px;
}
#u12666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u12667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12667 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1276px;
  width:300px;
  height:159px;
}
#u12668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12669 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:1388px;
  width:124px;
  height:34px;
}
#u12670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u12671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12671 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:1388px;
  width:124px;
  height:34px;
}
#u12672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u12673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12673 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1340px;
  width:127px;
  height:16px;
}
#u12674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u12675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12675 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:735px;
  width:71px;
  height:16px;
  color:#FF0000;
}
#u12676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12677 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:1156px;
  width:71px;
  height:16px;
  color:#FF0000;
}
#u12678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12679 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:1008px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u12680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12681 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:1075px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u12682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12683 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:885px;
  width:85px;
  height:112px;
  color:#FF0000;
}
#u12684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:226px;
}
#u12685p000 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:108px;
  width:336px;
  height:8px;
  -webkit-transform:rotate(-43deg);
  -moz-transform:rotate(-43deg);
  -ms-transform:rotate(-43deg);
  transform:rotate(-43deg);
}
#u12685p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:338px;
  height:10px;
}
#u12685p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:224px;
  width:3px;
  height:3px;
}
#u12685p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:4px;
}
#u12685p002 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:-8px;
  width:20px;
  height:20px;
}
#u12685p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u12685.compound {
  width:0px;
  height:0px;
}
#u12685 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:545px;
  width:239px;
  height:225px;
}
#u12686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:233px;
}
#u12687p000 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:112px;
  width:244px;
  height:7px;
  -webkit-transform:rotate(100deg);
  -moz-transform:rotate(100deg);
  -ms-transform:rotate(100deg);
  transform:rotate(100deg);
}
#u12687p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:246px;
  height:8px;
}
#u12687p001 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-1px;
  width:3px;
  height:3px;
}
#u12687p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:4px;
}
#u12687p002 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:218px;
  width:20px;
  height:20px;
}
#u12687p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12687.compound {
  width:0px;
  height:0px;
}
#u12687 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:1052px;
  width:39px;
  height:232px;
}
#u12688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:142px;
}
#u12689 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1198px;
  width:233px;
  height:141px;
  font-size:14px;
  text-align:left;
  line-height:20px;
}
#u12690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:229px;
  word-wrap:break-word;
}
