body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1059px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:450px;
}
#u14467 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:30px;
  width:768px;
  height:450px;
}
#u14468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:217px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:68px;
}
#u14470 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:80px;
  width:718px;
  height:68px;
}
#u14471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u14473 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:95px;
  width:128px;
  height:38px;
}
#u14474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u14475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u14475 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:95px;
  width:128px;
  height:38px;
}
#u14476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u14477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u14477 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:95px;
  width:128px;
  height:38px;
}
#u14478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u14479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u14479 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:95px;
  width:128px;
  height:38px;
}
#u14480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u14481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u14481 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:95px;
  width:128px;
  height:38px;
}
#u14482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u14483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:117px;
}
#u14483 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:288px;
  width:268px;
  height:117px;
}
#u14484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
}
#u14485 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:297px;
  width:459px;
  height:73px;
}
#u14486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14487 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:306px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u14489_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:72px;
  height:31px;
}
#u14489 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:420px;
  width:57px;
  height:5px;
}
#u14490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u14491 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:412px;
  width:218px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u14492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
