body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:925px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u9358 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:39px;
  width:375px;
  height:625px;
}
#u9359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1602px;
}
#u9360 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:39px;
  width:375px;
  height:1602px;
}
#u9361 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:793px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
