body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1149px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:769px;
}
#u8820 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:7px;
  width:553px;
  height:769px;
}
#u8821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:549px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8822 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:68px;
  width:178px;
  height:19px;
}
#u8823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8824 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:88px;
  width:89px;
  height:53px;
}
#u8825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8826 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:365px;
  width:379px;
  height:81px;
}
#u8827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8828 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:520px;
  width:208px;
  height:34px;
}
#u8829 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u8830 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:139px;
  width:61px;
  height:25px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u8831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u8832 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:183px;
  width:500px;
  height:44px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u8833 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u8834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8834 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:95px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u8835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u8836 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:95px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u8836_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-19px;
  width:8px;
  height:19px;
}
#u8836_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-19px;
  width:115px;
  height:8px;
}
#u8836_seg2 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-19px;
  width:8px;
  height:63px;
}
#u8836_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u8837 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u8838 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:334px;
  width:41px;
  height:25px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u8839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u8840 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:378px;
  width:500px;
  height:26px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u8841 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u8842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8842 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:386px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u8843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u8844 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:386px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u8844_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-70px;
  width:8px;
  height:70px;
}
#u8844_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-70px;
  width:105px;
  height:8px;
}
#u8844_seg2 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-70px;
  width:8px;
  height:18px;
}
#u8844_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u8845 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u8846 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:462px;
  width:61px;
  height:25px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u8847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u8848 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:506px;
  width:500px;
  height:62px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u8849 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u8850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8850 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:514px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u8851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u8852 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:514px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u8852_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-68px;
  width:8px;
  height:68px;
}
#u8852_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-68px;
  width:115px;
  height:8px;
}
#u8852_seg2 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-68px;
  width:8px;
  height:16px;
}
#u8852_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u8853 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
