body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u9372 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:40px;
  width:375px;
  height:625px;
}
#u9373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:3495px;
}
#u9374 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:40px;
  width:375px;
  height:3495px;
}
#u9375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1740px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
