body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1028px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14617 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:412px;
  width:225px;
  height:16px;
  color:#FF0000;
}
#u14618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u14619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14619 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:893px;
  width:225px;
  height:16px;
  color:#FF0000;
}
#u14620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u14621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:450px;
}
#u14621 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:20px;
  width:768px;
  height:450px;
}
#u14622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:217px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:450px;
}
#u14623 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:497px;
  width:768px;
  height:450px;
}
#u14624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:217px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
