body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:891px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:37px;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:18px;
  width:554px;
  height:37px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:58px;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:55px;
  width:554px;
  height:58px;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:35px;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:194px;
  width:693px;
  height:35px;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:58px;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:229px;
  width:693px;
  height:58px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:164px;
  width:57px;
  height:20px;
  text-align:left;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u2282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:319px;
  width:57px;
  height:20px;
  text-align:left;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u2284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:35px;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:349px;
  width:724px;
  height:35px;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:77px;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:384px;
  width:724px;
  height:77px;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:485px;
  width:57px;
  height:20px;
  text-align:left;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u2290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:64px;
  width:82px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u2292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:35px;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:515px;
  width:790px;
  height:35px;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:96px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:550px;
  width:790px;
  height:96px;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
