body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:704px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:792px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5346 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:38px;
  width:656px;
  height:792px;
}
#u5347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:388px;
  width:652px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:330px;
}
#u5348 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:217px;
  width:328px;
  height:330px;
}
#u5349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:157px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
  line-height:16px;
}
#u5350 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:88px;
  width:267px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
  line-height:16px;
}
#u5351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:267px;
  white-space:nowrap;
}
#u5352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:48px;
}
#u5352 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:62px;
  width:73px;
  height:85px;
  text-align:center;
  line-height:48px;
}
#u5353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:73px;
  white-space:nowrap;
}
#u5354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u5354 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:691px;
  width:457px;
  height:64px;
  font-size:24px;
  text-align:center;
}
#u5355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:457px;
  white-space:nowrap;
}
#u5356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5356 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:768px;
  width:147px;
  height:41px;
  font-size:14px;
}
#u5357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u5358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  line-height:28px;
}
#u5358 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:161px;
  width:163px;
  height:56px;
  font-size:18px;
  line-height:28px;
}
#u5359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:163px;
  white-space:nowrap;
}
#u5360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  line-height:28px;
}
#u5360 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:573px;
  width:109px;
  height:56px;
  font-size:18px;
  line-height:28px;
}
#u5361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:109px;
  white-space:nowrap;
}
#u5362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  line-height:28px;
}
#u5362 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:634px;
  width:119px;
  height:35px;
  font-size:18px;
  line-height:28px;
}
#u5363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:119px;
  white-space:nowrap;
}
