body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2095px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:600px;
}
#u6722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:709px;
  width:1024px;
  height:600px;
}
#u6723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:600px;
}
#u6724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:600px;
}
#u6725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:600px;
}
#u6726 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:709px;
  width:1024px;
  height:600px;
}
#u6727 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:599px;
}
#u6728 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:1355px;
  width:1024px;
  height:599px;
}
#u6729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
