body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:454px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:454px;
}
#u5587 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:219px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5588 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:9px;
  width:1335px;
  height:109px;
}
#u5589 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:1331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:284px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5590 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:132px;
  width:1335px;
  height:284px;
}
#u5591 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:134px;
  width:1331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5593 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:72px;
  width:110px;
  height:33px;
}
#u5593_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5594 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:72px;
  width:110px;
  height:33px;
}
#u5594_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5595 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:28px;
  width:92px;
  height:26px;
}
#u5595_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5595_input:disabled {
  color:grayText;
}
#u5596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5596 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:33px;
  width:29px;
  height:16px;
}
#u5597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5598 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:33px;
  width:84px;
  height:16px;
  text-align:right;
}
#u5599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u5600 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:28px;
  width:181px;
  height:26px;
}
#u5600_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5601 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:33px;
  width:85px;
  height:16px;
}
#u5602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5603 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:28px;
  width:99px;
  height:26px;
}
#u5603_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5604 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:28px;
  width:99px;
  height:26px;
}
#u5604_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5605 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:33px;
  width:15px;
  height:16px;
}
#u5606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5607 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:28px;
  width:107px;
  height:26px;
}
#u5607_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5607_input:disabled {
  color:grayText;
}
#u5608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5608 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:33px;
  width:57px;
  height:16px;
}
#u5609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5610 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:157px;
  width:1224px;
  height:108px;
}
#u5611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u5611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u5612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u5613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:31px;
}
#u5613 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:160px;
  height:31px;
}
#u5614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u5615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:31px;
}
#u5615 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:180px;
  height:31px;
}
#u5616 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u5617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:31px;
}
#u5617 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:135px;
  height:31px;
}
#u5618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u5619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:31px;
}
#u5619 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:0px;
  width:135px;
  height:31px;
}
#u5620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u5621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u5621 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:105px;
  height:31px;
}
#u5622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u5623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u5623 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:0px;
  width:90px;
  height:31px;
}
#u5624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u5625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u5625 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:0px;
  width:150px;
  height:31px;
}
#u5626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u5627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u5627 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:0px;
  width:174px;
  height:31px;
}
#u5628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:170px;
  word-wrap:break-word;
}
#u5629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:90px;
  height:36px;
}
#u5630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u5631 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:31px;
  width:160px;
  height:36px;
}
#u5632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u5633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5633 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:31px;
  width:180px;
  height:36px;
}
#u5634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u5635 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:31px;
  width:135px;
  height:36px;
}
#u5636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u5637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u5637 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:31px;
  width:135px;
  height:36px;
}
#u5638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u5639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u5639 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:31px;
  width:105px;
  height:36px;
}
#u5640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u5641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5641 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:31px;
  width:90px;
  height:36px;
}
#u5642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u5643 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:31px;
  width:150px;
  height:36px;
}
#u5644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u5645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u5645 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:31px;
  width:174px;
  height:36px;
}
#u5646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u5647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:90px;
  height:36px;
}
#u5648 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u5649 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:67px;
  width:160px;
  height:36px;
}
#u5650 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u5651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5651 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:67px;
  width:180px;
  height:36px;
}
#u5652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u5653 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:67px;
  width:135px;
  height:36px;
}
#u5654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u5655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u5655 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:67px;
  width:135px;
  height:36px;
}
#u5656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u5657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u5657 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:67px;
  width:105px;
  height:36px;
}
#u5658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u5659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5659 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:67px;
  width:90px;
  height:36px;
}
#u5660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u5661 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:67px;
  width:150px;
  height:36px;
}
#u5662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u5663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u5663 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:67px;
  width:174px;
  height:36px;
}
#u5664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u5665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5665 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:33px;
  width:50px;
  height:16px;
  text-align:right;
}
#u5666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u5667 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:28px;
  width:155px;
  height:26px;
}
#u5667_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5667_input:disabled {
  color:grayText;
}
#u5668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:465px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:493px;
  width:1366px;
  height:465px;
}
#u5669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:224px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:372px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5670 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:540px;
  width:1330px;
  height:372px;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:178px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:563px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:90px;
}
#u5674 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:634px;
  width:144px;
  height:90px;
}
#u5675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:90px;
}
#u5676 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:634px;
  width:144px;
  height:90px;
}
#u5677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:90px;
}
#u5678 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:634px;
  width:144px;
  height:90px;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:90px;
}
#u5680 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:634px;
  width:144px;
  height:90px;
}
#u5681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5682 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:743px;
  width:743px;
  height:16px;
}
#u5683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  white-space:nowrap;
}
#u5684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5684 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:605px;
  width:99px;
  height:16px;
}
#u5685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5686 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:801px;
  width:113px;
  height:16px;
}
#u5687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5688 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:829px;
  width:85px;
  height:16px;
}
#u5689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5690 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:857px;
  width:193px;
  height:16px;
}
#u5691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u5692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5692 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:563px;
  width:78px;
  height:30px;
}
#u5693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u5694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5694 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:563px;
  width:78px;
  height:30px;
}
#u5695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u5696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5696 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:770px;
  width:557px;
  height:16px;
}
#u5697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  white-space:nowrap;
}
#u5698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5698 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:884px;
  width:221px;
  height:16px;
}
#u5699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
