body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u12898 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:42px;
  width:375px;
  height:667px;
}
#u12899 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:55px;
}
#u12900 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:225px;
  width:129px;
  height:55px;
}
#u12901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12902 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:225px;
  width:136px;
  height:49px;
}
#u12903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
}
#u12904 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:42px;
  width:375px;
  height:750px;
}
#u12905 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:367px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:750px;
}
#u12906 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:42px;
  width:375px;
  height:750px;
}
#u12907 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:367px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12908 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:290px;
  width:345px;
  height:64px;
}
#u12909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u12910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12910 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:235px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
