body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:933px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u9356 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:40px;
  width:375px;
  height:625px;
}
#u9357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:5782px;
}
#u9358 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:40px;
  width:375px;
  height:5782px;
}
#u9359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2883px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
