body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:902px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u9374 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:34px;
  width:375px;
  height:625px;
}
#u9375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:5661px;
}
#u9376 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:34px;
  width:375px;
  height:5661px;
}
#u9377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2822px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
