body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1069px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:555px;
}
#u4668 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:31px;
  width:934px;
  height:555px;
}
#u4669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:270px;
  width:930px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:70px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4670 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:101px;
  width:92px;
  height:70px;
  font-size:16px;
}
#u4671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:88px;
  word-wrap:break-word;
}
#u4672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4672 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:177px;
  width:120px;
  height:34px;
  text-align:left;
}
#u4673 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u4674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4674 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:210px;
  width:120px;
  height:34px;
  text-align:left;
}
#u4675 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u4676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4676 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:243px;
  width:120px;
  height:34px;
  text-align:left;
}
#u4677 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
