body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u9118 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:53px;
  width:375px;
  height:625px;
}
#u9119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:3912px;
}
#u9120 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:53px;
  width:375px;
  height:3912px;
}
#u9121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1948px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
