body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u9400 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:53px;
  width:375px;
  height:625px;
}
#u9401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:3054px;
}
#u9402 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:53px;
  width:375px;
  height:3054px;
}
#u9403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1519px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
