body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1089px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:779px;
}
#u8170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:756px;
  width:835px;
  height:779px;
}
#u8171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:124px;
}
#u8172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:671px;
  width:835px;
  height:124px;
}
#u8173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8174 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:584px;
  width:150px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:106px;
}
#u8176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:106px;
}
#u8177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:45px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:517px;
}
#u8178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:844px;
  height:517px;
}
#u8179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:250px;
  width:840px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8181 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:241px;
  width:186px;
  height:16px;
}
#u8182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u8183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:2px;
}
#u8183 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:248px;
  width:163px;
  height:1px;
}
#u8184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:159px;
  visibility:hidden;
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  -ms-transform:rotate(2deg);
  transform:rotate(2deg);
  word-wrap:break-word;
  transform-origin:79.5px 8.5px;
  -ms-transform-origin:79.5px 8.5px;
  -moz-transform-origin:79.5px 8.5px;
  -webkit-transform-origin:79.5px 8.5px;
}
#u8185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8186 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:1147px;
  width:186px;
  height:32px;
}
#u8187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u8188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:2px;
}
#u8188 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:1154px;
  width:163px;
  height:1px;
}
#u8189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:159px;
  visibility:hidden;
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  -ms-transform:rotate(2deg);
  transform:rotate(2deg);
  word-wrap:break-word;
  transform-origin:79.5px 8.5px;
  -ms-transform-origin:79.5px 8.5px;
  -moz-transform-origin:79.5px 8.5px;
  -webkit-transform-origin:79.5px 8.5px;
}
#u8190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8190 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:1471px;
  width:31px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
