body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1089px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:779px;
}
#u7928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:756px;
  width:835px;
  height:779px;
}
#u7929 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:124px;
}
#u7930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:671px;
  width:835px;
  height:124px;
}
#u7931 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7932 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:584px;
  width:150px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u7934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:106px;
}
#u7934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:106px;
}
#u7935 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:45px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:517px;
}
#u7936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:844px;
  height:517px;
}
#u7937 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:250px;
  width:840px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7939 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:241px;
  width:186px;
  height:16px;
}
#u7940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u7941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:2px;
}
#u7941 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:248px;
  width:163px;
  height:1px;
}
#u7942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:159px;
  visibility:hidden;
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  -ms-transform:rotate(2deg);
  transform:rotate(2deg);
  word-wrap:break-word;
  transform-origin:79.5px 8.5px;
  -ms-transform-origin:79.5px 8.5px;
  -moz-transform-origin:79.5px 8.5px;
  -webkit-transform-origin:79.5px 8.5px;
}
#u7943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7944 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:1147px;
  width:186px;
  height:32px;
}
#u7945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u7946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:2px;
}
#u7946 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:1154px;
  width:163px;
  height:1px;
}
#u7947 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:159px;
  visibility:hidden;
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  -ms-transform:rotate(2deg);
  transform:rotate(2deg);
  word-wrap:break-word;
  transform-origin:79.5px 8.5px;
  -ms-transform-origin:79.5px 8.5px;
  -moz-transform-origin:79.5px 8.5px;
  -webkit-transform-origin:79.5px 8.5px;
}
#u7948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7948 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:1471px;
  width:31px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7949 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
