body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1699px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14048 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:32px;
  width:375px;
  height:667px;
}
#u14049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u14052 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:32px;
  width:375px;
  height:64px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u14053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  word-wrap:break-word;
}
#u14054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u14054 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:36px;
  width:363px;
  height:13px;
  opacity:0.8;
}
#u14055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14056 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:96px;
  width:375px;
  height:44px;
}
#u14057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u14059 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:96px;
  width:188px;
  height:44px;
  color:#AEAEAE;
}
#u14060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u14061 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:96px;
  width:188px;
  height:44px;
  color:#098AE8;
}
#u14062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
  text-align:center;
}
#u14063 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:108px;
  width:33px;
  height:21px;
  color:#098AE8;
  text-align:center;
}
#u14064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u14065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:center;
}
#u14065 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:108px;
  width:33px;
  height:21px;
  color:#AEAEAE;
  text-align:center;
}
#u14066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u14067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14068 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:32px;
  width:375px;
  height:667px;
}
#u14069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u14072 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:32px;
  width:375px;
  height:64px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u14073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  word-wrap:break-word;
}
#u14074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u14074 {
  border-width:0px;
  position:absolute;
  left:1047px;
  top:36px;
  width:363px;
  height:13px;
  opacity:0.8;
}
#u14075 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14076 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:96px;
  width:375px;
  height:44px;
}
#u14077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u14079 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:96px;
  width:188px;
  height:44px;
  color:#AEAEAE;
}
#u14080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u14081 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:96px;
  width:188px;
  height:44px;
  color:#098AE8;
}
#u14082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
  text-align:center;
}
#u14083 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:108px;
  width:33px;
  height:21px;
  color:#098AE8;
  text-align:center;
}
#u14084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u14085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:center;
}
#u14085 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:108px;
  width:33px;
  height:21px;
  color:#AEAEAE;
  text-align:center;
}
#u14086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u14087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:277px;
}
#u14087 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:143px;
  width:375px;
  height:277px;
}
#u14088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14089 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:736px;
  width:365px;
  height:128px;
}
#u14090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u14091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14091 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:736px;
  width:225px;
  height:48px;
}
#u14092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u14093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u14093 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:283px;
  width:375px;
  height:100px;
}
#u14094 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14095 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:333px;
  width:113px;
  height:16px;
}
#u14096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u14097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14097 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:291px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u14098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u14099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u14099 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:317px;
  width:359px;
  height:1px;
}
#u14100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 238, 210, 1);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF4E3A;
}
#u14101 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:290px;
  width:73px;
  height:21px;
  font-size:14px;
  color:#FF4E3A;
}
#u14102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u14103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 78, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14103 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:290px;
  width:4px;
  height:21px;
}
#u14104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:47px;
}
#u14105 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:328px;
  width:45px;
  height:47px;
}
#u14106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14107 {
  border-width:0px;
  position:absolute;
  left:1323px;
  top:342px;
  width:77px;
  height:19px;
  font-size:16px;
}
#u14108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u14109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14109 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:355px;
  width:176px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u14110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u14111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u14111 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:148px;
  width:375px;
  height:100px;
}
#u14112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14113 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:198px;
  width:29px;
  height:16px;
}
#u14114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14115 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:156px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u14116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u14117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u14117 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:182px;
  width:359px;
  height:1px;
}
#u14118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 238, 210, 1);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF4E3A;
}
#u14119 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:155px;
  width:73px;
  height:21px;
  font-size:14px;
  color:#FF4E3A;
}
#u14120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u14121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 78, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14121 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:155px;
  width:4px;
  height:21px;
}
#u14122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:47px;
}
#u14123 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:193px;
  width:45px;
  height:47px;
}
#u14124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14125 {
  border-width:0px;
  position:absolute;
  left:1323px;
  top:207px;
  width:77px;
  height:19px;
  font-size:16px;
}
#u14126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u14127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14127 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:220px;
  width:176px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u14128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u14129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u14129 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:341px;
  width:239px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u14130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:235px;
  white-space:nowrap;
}
#u14131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u14131 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:311px;
  width:96px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u14132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u14133 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:301px;
  width:0px;
  height:0px;
}
#u14133_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:151px;
  height:8px;
}
#u14133_seg1 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-35px;
  width:8px;
  height:39px;
}
#u14133_seg2 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-35px;
  width:148px;
  height:8px;
}
#u14133_seg3 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:-35px;
  width:8px;
  height:59px;
}
#u14133_seg4 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:16px;
  width:14px;
  height:8px;
}
#u14133_seg5 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:10px;
  width:20px;
  height:20px;
}
#u14134 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14135 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:341px;
  width:0px;
  height:0px;
}
#u14135_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:72px;
  height:8px;
}
#u14135_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-15px;
  width:8px;
  height:19px;
}
#u14135_seg2 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-15px;
  width:168px;
  height:8px;
}
#u14135_seg3 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:-15px;
  width:8px;
  height:29px;
}
#u14135_seg4 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:6px;
  width:14px;
  height:8px;
}
#u14135_seg5 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:0px;
  width:20px;
  height:20px;
}
#u14136 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u14137 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:392px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u14138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u14139 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:375px;
  width:0px;
  height:0px;
}
#u14139_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u14139_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:23px;
  width:386px;
  height:8px;
}
#u14139_seg2 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:17px;
  width:20px;
  height:20px;
}
#u14140 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u14141 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:436px;
  width:83px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u14142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u14143 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:361px;
  width:0px;
  height:0px;
}
#u14143_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:89px;
}
#u14143_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:81px;
  width:102px;
  height:8px;
}
#u14143_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:75px;
  width:20px;
  height:20px;
}
#u14144 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u14145 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:32px;
  width:375px;
  height:625px;
}
#u14146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:160px;
}
#u14147 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:96px;
  width:375px;
  height:160px;
}
#u14148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:249px;
}
#u14149 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:256px;
  width:292px;
  height:249px;
}
#u14150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:116px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u14151 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:605px;
  width:37px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u14152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
