body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1699px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14440 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:32px;
  width:375px;
  height:667px;
}
#u14441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u14444 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:32px;
  width:375px;
  height:64px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u14445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  word-wrap:break-word;
}
#u14446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u14446 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:36px;
  width:363px;
  height:13px;
  opacity:0.8;
}
#u14447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14448 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:96px;
  width:375px;
  height:44px;
}
#u14449 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u14451 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:96px;
  width:188px;
  height:44px;
  color:#AEAEAE;
}
#u14452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u14453 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:96px;
  width:188px;
  height:44px;
  color:#098AE8;
}
#u14454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
  text-align:center;
}
#u14455 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:108px;
  width:33px;
  height:21px;
  color:#098AE8;
  text-align:center;
}
#u14456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u14457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:center;
}
#u14457 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:108px;
  width:33px;
  height:21px;
  color:#AEAEAE;
  text-align:center;
}
#u14458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u14459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14460 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:32px;
  width:375px;
  height:667px;
}
#u14461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u14464 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:32px;
  width:375px;
  height:64px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u14465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  word-wrap:break-word;
}
#u14466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u14466 {
  border-width:0px;
  position:absolute;
  left:1047px;
  top:36px;
  width:363px;
  height:13px;
  opacity:0.8;
}
#u14467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14468 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:96px;
  width:375px;
  height:44px;
}
#u14469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u14471 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:96px;
  width:188px;
  height:44px;
  color:#AEAEAE;
}
#u14472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u14473 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:96px;
  width:188px;
  height:44px;
  color:#098AE8;
}
#u14474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
  text-align:center;
}
#u14475 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:108px;
  width:33px;
  height:21px;
  color:#098AE8;
  text-align:center;
}
#u14476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u14477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:center;
}
#u14477 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:108px;
  width:33px;
  height:21px;
  color:#AEAEAE;
  text-align:center;
}
#u14478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u14479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:277px;
}
#u14479 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:143px;
  width:375px;
  height:277px;
}
#u14480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14481 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:736px;
  width:365px;
  height:128px;
}
#u14482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u14483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14483 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:736px;
  width:225px;
  height:48px;
}
#u14484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u14485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u14485 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:283px;
  width:375px;
  height:100px;
}
#u14486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14487 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:333px;
  width:113px;
  height:16px;
}
#u14488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u14489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14489 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:291px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u14490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u14491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u14491 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:317px;
  width:359px;
  height:1px;
}
#u14492 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 238, 210, 1);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF4E3A;
}
#u14493 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:290px;
  width:73px;
  height:21px;
  font-size:14px;
  color:#FF4E3A;
}
#u14494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u14495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 78, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14495 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:290px;
  width:4px;
  height:21px;
}
#u14496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:47px;
}
#u14497 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:328px;
  width:45px;
  height:47px;
}
#u14498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14499 {
  border-width:0px;
  position:absolute;
  left:1323px;
  top:342px;
  width:77px;
  height:19px;
  font-size:16px;
}
#u14500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u14501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14501 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:355px;
  width:176px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u14502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u14503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u14503 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:148px;
  width:375px;
  height:100px;
}
#u14504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14505 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:198px;
  width:29px;
  height:16px;
}
#u14506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14507 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:156px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u14508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u14509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u14509 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:182px;
  width:359px;
  height:1px;
}
#u14510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 238, 210, 1);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF4E3A;
}
#u14511 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:155px;
  width:73px;
  height:21px;
  font-size:14px;
  color:#FF4E3A;
}
#u14512 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u14513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 78, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14513 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:155px;
  width:4px;
  height:21px;
}
#u14514 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:47px;
}
#u14515 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:193px;
  width:45px;
  height:47px;
}
#u14516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14517 {
  border-width:0px;
  position:absolute;
  left:1323px;
  top:207px;
  width:77px;
  height:19px;
  font-size:16px;
}
#u14518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u14519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14519 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:220px;
  width:176px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u14520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u14521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u14521 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:341px;
  width:239px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u14522 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:235px;
  white-space:nowrap;
}
#u14523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u14523 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:311px;
  width:96px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u14524 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u14525 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:301px;
  width:0px;
  height:0px;
}
#u14525_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:151px;
  height:8px;
}
#u14525_seg1 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-35px;
  width:8px;
  height:39px;
}
#u14525_seg2 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-35px;
  width:148px;
  height:8px;
}
#u14525_seg3 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:-35px;
  width:8px;
  height:59px;
}
#u14525_seg4 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:16px;
  width:14px;
  height:8px;
}
#u14525_seg5 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:10px;
  width:20px;
  height:20px;
}
#u14526 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14527 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:341px;
  width:0px;
  height:0px;
}
#u14527_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:72px;
  height:8px;
}
#u14527_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-15px;
  width:8px;
  height:19px;
}
#u14527_seg2 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-15px;
  width:168px;
  height:8px;
}
#u14527_seg3 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:-15px;
  width:8px;
  height:29px;
}
#u14527_seg4 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:6px;
  width:14px;
  height:8px;
}
#u14527_seg5 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:0px;
  width:20px;
  height:20px;
}
#u14528 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u14529 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:392px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u14530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u14531 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:375px;
  width:0px;
  height:0px;
}
#u14531_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u14531_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:23px;
  width:386px;
  height:8px;
}
#u14531_seg2 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:17px;
  width:20px;
  height:20px;
}
#u14532 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u14533 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:436px;
  width:83px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u14534 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u14535 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:361px;
  width:0px;
  height:0px;
}
#u14535_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:89px;
}
#u14535_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:81px;
  width:102px;
  height:8px;
}
#u14535_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:75px;
  width:20px;
  height:20px;
}
#u14536 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u14537 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:32px;
  width:375px;
  height:625px;
}
#u14538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:160px;
}
#u14539 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:96px;
  width:375px;
  height:160px;
}
#u14540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:249px;
}
#u14541 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:256px;
  width:292px;
  height:249px;
}
#u14542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:116px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u14543 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:605px;
  width:37px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u14544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
