body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:869px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u9404 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:30px;
  width:375px;
  height:625px;
}
#u9405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:4050px;
}
#u9406 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:30px;
  width:375px;
  height:4050px;
}
#u9407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2017px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
