body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2732px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:605px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:759px;
  height:605px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:755px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:214px;
  width:43px;
  height:40px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  word-wrap:break-word;
}
#u2199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:214px;
  width:43px;
  height:40px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  word-wrap:break-word;
}
#u2201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:605px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:0px;
  width:790px;
  height:605px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:1862px;
  top:214px;
  width:43px;
  height:40px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  word-wrap:break-word;
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:719px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:1942px;
  top:0px;
  width:790px;
  height:719px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:352px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
