body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:771px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:37px;
}
#u5764 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:14px;
  width:554px;
  height:37px;
}
#u5765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:39px;
}
#u5766 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:51px;
  width:554px;
  height:39px;
}
#u5767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:35px;
}
#u5768 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:192px;
  width:693px;
  height:35px;
}
#u5769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:39px;
}
#u5770 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:227px;
  width:693px;
  height:39px;
}
#u5771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:35px;
}
#u5772 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:336px;
  width:724px;
  height:35px;
}
#u5773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:39px;
}
#u5774 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:371px;
  width:724px;
  height:39px;
}
#u5775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5776 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:158px;
  width:57px;
  height:20px;
  text-align:left;
}
#u5777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5778 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:306px;
  width:57px;
  height:20px;
  text-align:left;
}
#u5779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u5780 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:51px;
  width:82px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u5781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
