body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1559px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:750px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:750px;
}
#u5118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:367px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5119 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:9px;
  width:1335px;
  height:109px;
}
#u5120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:1331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:564px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5121 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:167px;
  width:1335px;
  height:564px;
}
#u5122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:274px;
  width:1331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5123 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:124px;
  width:120px;
  height:33px;
}
#u5123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5125 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:72px;
  width:110px;
  height:33px;
}
#u5125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5126 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:72px;
  width:110px;
  height:33px;
}
#u5126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5127 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:30px;
  width:84px;
  height:16px;
  text-align:right;
}
#u5128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u5129 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:25px;
  width:181px;
  height:26px;
}
#u5129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5130 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:124px;
  width:105px;
  height:33px;
}
#u5130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5131 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:190px;
  width:1258px;
  height:144px;
}
#u5132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:31px;
}
#u5132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:31px;
  font-size:14px;
}
#u5133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u5134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:31px;
}
#u5134 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:0px;
  width:180px;
  height:31px;
}
#u5135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u5136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:31px;
}
#u5136 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:0px;
  width:180px;
  height:31px;
}
#u5137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u5138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:31px;
}
#u5138 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:180px;
  height:31px;
}
#u5139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u5140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:31px;
}
#u5140 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:180px;
  height:31px;
}
#u5141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u5142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:31px;
}
#u5142 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:0px;
  width:180px;
  height:31px;
}
#u5143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u5144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:31px;
}
#u5144 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:0px;
  width:173px;
  height:31px;
}
#u5145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u5146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:180px;
  height:36px;
}
#u5147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5148 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:31px;
  width:180px;
  height:36px;
}
#u5149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5150 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:31px;
  width:180px;
  height:36px;
}
#u5151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5152 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:31px;
  width:180px;
  height:36px;
}
#u5153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5154 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:31px;
  width:180px;
  height:36px;
}
#u5155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5156 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:31px;
  width:180px;
  height:36px;
}
#u5157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:36px;
}
#u5158 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:31px;
  width:173px;
  height:36px;
}
#u5159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u5160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:180px;
  height:36px;
}
#u5161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5162 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:67px;
  width:180px;
  height:36px;
}
#u5163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5164 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:67px;
  width:180px;
  height:36px;
}
#u5165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5166 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:67px;
  width:180px;
  height:36px;
}
#u5167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5168 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:67px;
  width:180px;
  height:36px;
}
#u5169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5170 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:67px;
  width:180px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:36px;
}
#u5172 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:67px;
  width:173px;
  height:36px;
}
#u5173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:103px;
  width:180px;
  height:36px;
}
#u5175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5176 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:103px;
  width:180px;
  height:36px;
}
#u5177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5178 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:103px;
  width:180px;
  height:36px;
}
#u5179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5180 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:103px;
  width:180px;
  height:36px;
}
#u5181 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5182 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:103px;
  width:180px;
  height:36px;
}
#u5183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u5184 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:103px;
  width:180px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:36px;
}
#u5186 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:103px;
  width:173px;
  height:36px;
}
#u5187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5188 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:30px;
  width:69px;
  height:16px;
  text-align:right;
}
#u5189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u5190 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:25px;
  width:155px;
  height:26px;
}
#u5190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5190_input:disabled {
  color:grayText;
}
#u5191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5191 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:30px;
  width:69px;
  height:16px;
  text-align:right;
}
#u5192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u5193 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:25px;
  width:155px;
  height:26px;
}
#u5193_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5193_input:disabled {
  color:grayText;
}
#u5194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5194 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:30px;
  width:69px;
  height:16px;
  text-align:right;
}
#u5195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u5196 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:25px;
  width:155px;
  height:26px;
}
#u5196_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5196_input:disabled {
  color:grayText;
}
#u5197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:305px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5197 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:400px;
  width:440px;
  height:305px;
}
#u5198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:144px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 139, 221, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 139, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5199 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:400px;
  width:440px;
  height:34px;
}
#u5200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5201 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:409px;
  width:99px;
  height:16px;
  color:#FFFFFF;
}
#u5202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:39px;
}
#u5203 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:642px;
  width:213px;
  height:39px;
}
#u5204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5205 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:472px;
  width:99px;
  height:16px;
}
#u5206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5207 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:466px;
  width:225px;
  height:30px;
}
#u5208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u5209 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:471px;
  width:23px;
  height:19px;
}
#u5210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5211 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:510px;
  width:225px;
  height:29px;
}
#u5212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5213 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:517px;
  width:71px;
  height:16px;
}
#u5214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u5215 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:516px;
  width:23px;
  height:19px;
}
#u5216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5217 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:562px;
  width:15px;
  height:16px;
}
#u5218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:305px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5219 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:400px;
  width:440px;
  height:305px;
}
#u5220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:144px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 139, 221, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 139, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5221 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:400px;
  width:440px;
  height:34px;
}
#u5222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5223 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:409px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u5224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:39px;
}
#u5225 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:651px;
  width:213px;
  height:39px;
}
#u5226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5227 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:455px;
  width:99px;
  height:16px;
  text-align:right;
}
#u5228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5229 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:486px;
  width:71px;
  height:16px;
  text-align:right;
}
#u5230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5231 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:455px;
  width:105px;
  height:16px;
}
#u5232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u5233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5233 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:487px;
  width:34px;
  height:16px;
}
#u5234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u5235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5235 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:514px;
  width:43px;
  height:16px;
  text-align:right;
}
#u5236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5237 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:514px;
  width:29px;
  height:16px;
}
#u5238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5239 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:540px;
  width:75px;
  height:16px;
  text-align:right;
}
#u5240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5241 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:540px;
  width:45px;
  height:16px;
}
#u5242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u5243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5243 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:590px;
  width:47px;
  height:16px;
  text-align:right;
}
#u5244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u5245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5245 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:590px;
  width:29px;
  height:16px;
}
#u5246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5247 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:616px;
  width:71px;
  height:16px;
  text-align:right;
}
#u5248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5249 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:616px;
  width:141px;
  height:16px;
}
#u5250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u5251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5251 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:564px;
  width:99px;
  height:16px;
  text-align:right;
}
#u5252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5253 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:564px;
  width:23px;
  height:16px;
}
#u5254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u5255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:382px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5255 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:400px;
  width:440px;
  height:382px;
}
#u5256 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:183px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 139, 221, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 139, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5257 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:400px;
  width:440px;
  height:34px;
}
#u5258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5259 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:409px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u5260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:39px;
}
#u5261 {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:715px;
  width:213px;
  height:39px;
}
#u5262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5263 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:455px;
  width:99px;
  height:16px;
  text-align:right;
}
#u5264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5265 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:495px;
  width:71px;
  height:16px;
  text-align:right;
}
#u5266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5267 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:531px;
  width:43px;
  height:16px;
  text-align:right;
}
#u5268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5269 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:531px;
  width:29px;
  height:16px;
}
#u5270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5271 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:567px;
  width:75px;
  height:16px;
  text-align:right;
}
#u5272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5273 {
  border-width:0px;
  position:absolute;
  left:1223px;
  top:645px;
  width:47px;
  height:16px;
  text-align:right;
}
#u5274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u5275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5275 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:645px;
  width:29px;
  height:16px;
}
#u5276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5277 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:676px;
  width:71px;
  height:16px;
  text-align:right;
}
#u5278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5279 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:676px;
  width:141px;
  height:16px;
}
#u5280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u5281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5281 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:607px;
  width:99px;
  height:16px;
  text-align:right;
}
#u5282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5283 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:504px;
  width:15px;
  height:16px;
}
#u5284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5285 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:491px;
  width:225px;
  height:25px;
}
#u5285_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5285_input:disabled {
  color:grayText;
}
#u5286 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:451px;
  width:225px;
  height:25px;
}
#u5286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5287 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:563px;
  width:225px;
  height:25px;
}
#u5287_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5287_input:disabled {
  color:grayText;
}
#u5288 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:603px;
  width:225px;
  height:25px;
}
#u5288_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5288_input:disabled {
  color:grayText;
}
#u5289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5289 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:504px;
  width:15px;
  height:16px;
}
#u5290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:29px;
}
#u5291 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:226px;
  width:128px;
  height:29px;
  color:#FF0000;
}
#u5292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
