body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:891px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u9344 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:35px;
  width:375px;
  height:625px;
}
#u9345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1602px;
}
#u9346 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:35px;
  width:375px;
  height:1602px;
}
#u9347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:793px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
