body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:964px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14278 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:41px;
  width:375px;
  height:667px;
}
#u14279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u14282 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:41px;
  width:375px;
  height:64px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u14283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  word-wrap:break-word;
}
#u14284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u14284 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:45px;
  width:363px;
  height:13px;
  opacity:0.8;
}
#u14285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u14286 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:75px;
  width:8px;
  height:15px;
}
#u14287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14288 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:105px;
  width:375px;
  height:122px;
  text-align:left;
}
#u14289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u14290 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:127px;
  width:50px;
  height:50px;
}
#u14291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u14292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14292 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:132px;
  width:60px;
  height:19px;
  font-size:16px;
}
#u14293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u14294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14294 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:156px;
  width:169px;
  height:16px;
}
#u14295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u14296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u14296 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:145px;
  width:8px;
  height:15px;
}
#u14297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14298 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:187px;
  width:375px;
  height:40px;
  text-align:left;
}
#u14299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u14300 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:187px;
  width:1px;
  height:40px;
}
#u14301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u14302 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:187px;
  width:1px;
  height:40px;
}
#u14303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u14304 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:190px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u14305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u14306 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:208px;
  width:29px;
  height:16px;
  color:#666666;
}
#u14307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u14308 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:190px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u14309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u14310 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:208px;
  width:49px;
  height:16px;
  color:#666666;
  text-align:center;
}
#u14311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u14312 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:190px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u14313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u14314 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:208px;
  width:43px;
  height:16px;
  color:#666666;
  text-align:center;
}
#u14315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14316 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:233px;
  width:375px;
  height:122px;
  text-align:left;
}
#u14317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14318 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:239px;
  width:57px;
  height:16px;
}
#u14319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14321_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:316px;
  height:10px;
}
#u14321 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:268px;
  width:311px;
  height:5px;
}
#u14322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14323_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:199px;
  height:10px;
}
#u14323 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:268px;
  width:194px;
  height:5px;
}
#u14324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1896D4;
}
#u14325 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:260px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1896D4;
}
#u14326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u14327 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:284px;
  width:365px;
  height:45px;
  font-size:12px;
}
#u14328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u14329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14329 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:360px;
  width:375px;
  height:123px;
  text-align:left;
}
#u14330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14331 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:367px;
  width:188px;
  height:62px;
}
#u14332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14333 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:367px;
  width:188px;
  height:62px;
}
#u14334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14335 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:428px;
  width:126px;
  height:44px;
}
#u14336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14337 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:428px;
  width:126px;
  height:44px;
}
#u14338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14339 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:428px;
  width:126px;
  height:44px;
}
#u14340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:38px;
}
#u14341 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:379px;
  width:58px;
  height:38px;
}
#u14342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14343 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:390px;
  width:25px;
  height:16px;
}
#u14344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:38px;
}
#u14345 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:379px;
  width:58px;
  height:38px;
}
#u14346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14347 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:390px;
  width:25px;
  height:16px;
}
#u14348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14349 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:390px;
  width:29px;
  height:16px;
}
#u14350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14351 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:390px;
  width:29px;
  height:16px;
}
#u14352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u14353 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:433px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u14354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u14355 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:433px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u14356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u14357 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:433px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u14358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u14359 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:450px;
  width:31px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u14360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u14361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u14361 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:450px;
  width:31px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u14362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u14363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u14363 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:450px;
  width:31px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u14364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u14365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14365 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:490px;
  width:375px;
  height:218px;
  text-align:left;
}
#u14366 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:101px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14367 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:498px;
  width:57px;
  height:16px;
}
#u14368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u14369 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:530px;
  width:60px;
  height:60px;
  color:#FFFFFF;
}
#u14370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u14371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:76px;
}
#u14371 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:530px;
  width:1px;
  height:75px;
}
#u14372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u14373 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:540px;
  width:42px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u14374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u14375 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:580px;
  width:42px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u14376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14377 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:539px;
  width:61px;
  height:17px;
}
#u14378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u14379 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:590px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u14380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
  background:inherit;
  background-color:rgba(254, 128, 132, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14381 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:579px;
  width:161px;
  height:17px;
}
#u14382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:75px;
}
#u14383 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:613px;
  width:366px;
  height:75px;
}
#u14384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
}
#u14385 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:623px;
  width:53px;
  height:24px;
}
#u14386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
}
#u14387 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:623px;
  width:53px;
  height:24px;
}
#u14388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0D9CE1;
}
#u14389 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:631px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#0D9CE1;
}
#u14390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0D9CE1;
}
#u14391 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:630px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#0D9CE1;
}
#u14392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0D9CE1;
  text-align:center;
}
#u14393 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:688px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#0D9CE1;
  text-align:center;
}
#u14394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:137px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14395 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:708px;
  width:375px;
  height:137px;
  text-align:left;
}
#u14396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14397 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:715px;
  width:375px;
  height:102px;
  text-align:left;
}
#u14398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14399 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:723px;
  width:57px;
  height:16px;
}
#u14400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14401 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:755px;
  width:188px;
  height:62px;
}
#u14402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14403 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:755px;
  width:188px;
  height:62px;
}
#u14404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14405 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:778px;
  width:29px;
  height:16px;
}
#u14406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14407 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:778px;
  width:59px;
  height:16px;
}
#u14408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14409 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:778px;
  width:29px;
  height:16px;
}
#u14410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14411 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:778px;
  width:51px;
  height:16px;
}
#u14412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u14413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#3D9BD8;
}
#u14413 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:334px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#3D9BD8;
}
#u14414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u14415 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:45px;
  width:375px;
  height:667px;
}
#u14416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:591px;
}
#u14417 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1112px;
  width:946px;
  height:591px;
}
#u14418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:288px;
  width:942px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:125px;
}
#u14419 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:1495px;
  width:464px;
  height:125px;
}
#u14420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:20px;
}
#u14421 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1517px;
  width:354px;
  height:80px;
  font-size:14px;
  color:#666666;
  line-height:20px;
}
#u14422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  word-wrap:break-word;
}
#u14423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:78px;
}
#u14423 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:1493px;
  width:80px;
  height:78px;
}
#u14424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u14425 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:1581px;
  width:86px;
  height:26px;
}
#u14426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u14427 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1487px;
  width:164px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u14428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:160px;
  white-space:nowrap;
}
#u14429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14429 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:1488px;
  width:21px;
  height:20px;
}
#u14430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u14431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14431 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:1488px;
  width:21px;
  height:20px;
}
#u14432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u14433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u14433 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1449px;
  width:87px;
  height:20px;
}
#u14434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14435 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1451px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u14436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14437 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:606px;
  width:71px;
  height:16px;
}
#u14438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
