body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:894px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u9376 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:33px;
  width:375px;
  height:625px;
}
#u9377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:4154px;
}
#u9378 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:33px;
  width:375px;
  height:4154px;
}
#u9379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2069px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
