body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:869px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u9378 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:42px;
  width:375px;
  height:625px;
}
#u9379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:3076px;
}
#u9380 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:42px;
  width:375px;
  height:3076px;
}
#u9381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1530px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
