body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:544px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:800px;
}
#u12434 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:35px;
  width:375px;
  height:800px;
}
#u12435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
